<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="~{blocks/header :: header}"></header>

<div class="forms">
    <div class="container">
        <div class="container_wrap">
            <div class="">
                <div class="register">
                    <form action="" method="post" class="form-signup">
                        <div class="text-center" style="color:green" th:if="${message}" th:text="${message}"></div>
                        <h2 class="text-center">Авторизация</h2>

                        <div>
                            <label for="login">Логин:</label>
                            <input type="text" name="login" id="login" class="form-control input-field" required>
                        </div>

                        <div>
                            <label for="password">Пароль:</label>
                            <input type="password" name="password" id="password" class="form-control input-field" required>
                        </div>
                        <span th:if="${error}" th:text="${error}" class="error"></span>
                        <a class="acount-btn" href="/register">Создать аккаунт</a>
                        <input type="submit" value="Войти">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}">
</footer>


<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="js/custom.js"></script>
<script src="js/owl.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentPath = window.location.pathname;
        var navItems = document.querySelectorAll('.nav-item');

        navItems.forEach(function(item) {
            var link = item.querySelector('.nav-link');
            if (link && link.getAttribute('href') === currentPath) {
                item.classList.add('active');
            }

            // Check if item is a dropdown and contains links
            var dropdownMenu = item.querySelector('.dropdown-menu');
            if (dropdownMenu) {
                var dropdownLinks = dropdownMenu.querySelectorAll('a');
                dropdownLinks.forEach(function(dropdownLink) {
                    if (dropdownLink.getAttribute('href') === currentPath) {
                        item.classList.add('active');
                    }
                });
            }
        });
    });
</script>
</body>

</html>
