<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="~{blocks/header :: header}"></header>

<div class="forms">
    <section class="profile">
        <div class="info">
            <h2 th:text="${user.login}"></h2>
        </div>
    </section>
    <section class="car-list">
        <h2>Избранное</h2>
        <ul>
            <li>
                    <div th:each="el :${favorites}" class="col-md-6">
                        <div class="product-item">
                            <a th:href="'/car-details/'+${el.car.car_id}"><img th:src="'/uploads/'+${el.car.avatar}" alt=""></a>
                            <div class="down-content">
                                <a th:href="'/car-details/'+${el.car.car_id}"><h4 th:text="${el.car.make}+' '+${el.car.model}">Lorem ipsum dolor sit amet, consectetur</h4></a>

                                <h6 th:text="${el.car.price}+'$'"></h6>

                                <p th:text="${el.car.power}+'hp / '+${el.car.fuel}+' / '+${el.car.date}+' / '+${el.car.type}"></p>

                                <small>
                                    <strong th:text="${el.car.mileage}+'km'" title="Author"><i class="fa fa-dashboard"></i> </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong th:text="${el.car.enginesize} +'cc'" title="Author"><i class="fa fa-cube"></i> </strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong th:text="${el.car.gearbox}" title="Views"><i class="fa fa-cog"></i> </strong>
                                </small>
                                <form method="post" th:action="'profile/deleteFromFavorites/'+ ${el.car.car_id}+'/'+${el.user.user_id}">
                                    <button type="submit" class="filled-button">Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>
    </section>
    <section class="passchange">
        <form action="" method="post" class="form-signup">
            <div class="text-center" style="color:green" th:if="${message}" th:text="${message}"></div>
            <h2 class="text-center">Смена пароля</h2>
            <div>
                <label for="password">Старый пароль:</label>
                <input type="password" name="oldpassword" id="oldpassword" class="form-control input-field" required>
            </div>
            <div>
                <label for="password">Новый пароль:</label>
                <input type="password" name="password" id="password" class="form-control input-field" required>
            </div>
            <div>
                <label for="passwordrepeat">Повтор нового пароля:</label>
                <input type="password" name="passwordrepeat" id="passwordrepeat" class="form-control input-field" required>
                <span th:if="${errors}" th:text="${errors[password]}" class="error"></span>
            </div>
            <input type="hidden" name="user_id" id="user_id" th:value="${session.user.user_id}"/>
            <span th:if="${error}" th:text="${error}" class="error"></span>
            <input type="submit" value="Сменить пароль">
        </form>
    </section>
</div>

<footer th:insert="~{blocks/footer :: footer}">
</footer>


<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="js/custom.js"></script>
<script src="js/owl.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentPath = window.location.pathname;
        var navItems = document.querySelectorAll('.nav-item');

        navItems.forEach(function(item) {
            var link = item.querySelector('.nav-link');
            if (link && link.getAttribute('href') === currentPath) {
                item.classList.add('active');
            }

            // Check if item is a dropdown and contains links
            var dropdownMenu = item.querySelector('.dropdown-menu');
            if (dropdownMenu) {
                var dropdownLinks = dropdownMenu.querySelectorAll('a');
                dropdownLinks.forEach(function(dropdownLink) {
                    if (dropdownLink.getAttribute('href') === currentPath) {
                        item.classList.add('active');
                    }
                });
            }
        });
    });
</script>
</body>

</html>
