<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<header th:insert="~{blocks/header :: header}"></header>

<div class="forms">
    <div class="container">
        <div class="register">
            <form th:action="@{/register}" th:object="${user}" method="post" class="form-signup">
                <h2 class="text-center mb-4">Регистрация</h2>
                <div class="form-group">
                    <label for="login">Логин:</label>
                    <input type="text" id="login" th:field="*{login}" class="form-control" placeholder="Введите ваш логин">
                    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></div>
                    <div th:if="${errors}" th:text="${errors['login']}" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Введите ваш email">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                    <div th:if="${errors}" th:text="${errors['email']}" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Введите ваш пароль">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                    <div th:if="${errors}" th:text="${errors['password']}" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Подтверждение пароля:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Повторите пароль">
                    <div th:if="${errors}" th:text="${errors['confirmPassword']}" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>
